extends layout

block content
  //Grid
  .grid-stack
    each sensor in sensors
      .grid-stack-item(data-gs-id=sensor.id data-gs-x=sensor.position.x data-gs-y=sensor.position.y data-gs-width=sensor.position.width data-gs-height=sensor.position.height data-gs-min-width="3")    
        .grid-stack-item-content.card.text-white.bg-secondary.mb-3(style='max-width: 100%; min-width: 12rem;')
          if sensor.nameDisplay || sensor.icon != 'fa-empty fa-3x'
            .card-header.checkCardHeader
              i(class=sensor.icon)
              if sensor.nameDisplay
                h5.card-title #{sensor.name}
          .card-body
            .data(id=sensor.mqttLink)
            p.card-text
              each duty, index in duties
                if duty.sensor_id == sensor._id
                  .dutiesDiv
                    if duty.dutyName == 'textDisplay'
                      | Megjelenítés
                    if duty.dutyName == 'colorPicker'
                      .input-group(id='cp-' + duty._id)
                        input.form-control.input-lg(type='text', value='I am an invalid color')
                        span.input-group-append
                          span.input-group-text.colorpicker-input-addon
                            i
                    if duty.dutyName == 'switcher'
                      label.switch
                        input(type='checkbox')
                        span.slider_toggle.round
                    if duty.dutyName == 'universalSwitcher'
                      | Univerzális kapcsoló
                    if duty.dutyName == 'slider'
                      .slidecontainer
                        input#myRange.slider(type='range', min='1', max='100', value='50')
            .lastUpdateString  
              | Utolsó frissités: 16:40
            .btn-group.btn-group-sm.editModeItem.settingDutyButtonGroup(role='group')
              button.btn.btn-secondary.sensorAddDuty-btn(data-id=sensor.id type='button' data-toggle='modal' data-target='#addDutyModal')
                i.fas.fa-plus
              button.btn.btn-secondary.sensorDutySetting-btn(data-id=sensor.id type='button' data-toggle='modal' data-target='#settingDutyModal')
                i.fas.fa-cogs
          .tesztDiv(style='height: 100%;')
          .card-footer.card-footer-settingIcon.editModeItem
            button.btn.btn-secondary.sensorSetting-btn(data-id=sensor.id type='button' data-toggle='modal' data-target='#sensorSettingModal')
              i.fas.fa-wrench
          .card-footer.card-footer-closeIcon.editModeItem
            form(action='/api/deleteSensor/' + sensor.id, method='post')
              input(type='hidden' name='room_id' value=room_id)
              button.btn.btn-secondary.sensorDelete-btn(data-id=sensor.id type='submit')
                i.fas.fa-times
  
  .ct-chart.ct-golden-section

  // Panel kezelő gombok              
  .buttonGroup
    button.btn.btn-outline-secondary.editModeItem(data-id=room_id id='save-grid' type='button' data-toggle='modal' data-target='#saveGridPositionModal')
      i.fas.fa-save
    button.btn.btn-secondary.editModeItem(id='add-grid' type='button' data-toggle='modal' data-target='#addNewSensorModal')
      i.fas.fa-plus
    button.btn.btn-primary.editModeItem(id='add-chart' type='button')
      i.far.fa-chart-bar

  //Szoba törlés és módosítása!
  button.btn.btn-link.editModeItem.roomSetting-btn(data-id=room_id  type='button'  data-toggle='modal' data-target='#roomSettingModal')
    i.fas.fa-door-open.fa-2x

  // Szensor módosítása - Modal
  #sensorSettingModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='sensorSettingModalLabel' aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#sensorSettingModalLabel.modal-title Szenzor módosítás
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') &times;
        form(id='sensorUpdateForm' action='' method='post')
          .modal-body
            input(type='hidden' name='room_id' value=room_id)
            input.form-control.modalNameInput(id='settingSensorModal-sensorName' name='updateSensorName' type='text' placeholder='Szenzor neve' required)
            .custom-control.custom-checkbox.wantNameRadio
              span#addDutySpanName.label.label-default Név megjelenítés:
              input(id='settingNameDisplayInputHide' type='hidden' name='updateNameDisplay' value='false')
              input.custom-control-input(id='settingNameDisplay' type='checkbox')
              label.custom-control-label(for='settingNameDisplay') Igen/Nem
            .modalSpanIkon
              span.label.label-default Ikon megjelenítése:
            .wantIconCheckBox
              input.settingNewSensorIconInput(type='hidden' name='updateNewSensorIcon' value='fa-empty')
              button#settingModalIconPicker.btn.btn-secondary(role='iconpicker')
              span#modalSpanCheckboxIcon.label.label-default Méret:
              .custom-control.custom-radio.custom-control-inline.modalRadio1
                input.custom-control-input(id='settingIconSize-fa-3x' name='updateIconSizeCheckbox' type='radio' value='fa-3x')
                label.custom-control-label(for='settingIconSize-fa-3x') 3x
              .custom-control.custom-radio.custom-control-inline.modalRadio2
                input.custom-control-input(id='settingIconSize-fa-5x' name='updateIconSizeCheckbox' type='radio' value='fa-5x')
                label.custom-control-label(for='settingIconSize-fa-5x') 5x
              .custom-control.custom-radio.custom-control-inline.modalRadio3
                input.custom-control-input(id='settingIconSize-fa-7x' name='updateIconSizeCheckbox' type='radio' value='fa-7x')
                label.custom-control-label(for='settingIconSize-fa-7x') 7x
          .modal-footer
            button.btn.btn-danger(type='button', data-dismiss='modal') Mégse
            button.btn.btn-secondary(type='submit') Mentés


  // Szenzor hozzáadása - Modal
  #addNewSensorModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='addNewSensorModalLabel' aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#addNewSensorModalLabel.modal-title Szenzor hozzáadása
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') &times;
        form(action='/api/insertSensor' method='post')
          .modal-body
            input(type='hidden' name='room_id' value=room_id)
            input.form-control.modalNameInput(name='sensorName' type='text' placeholder='Szenzor neve' required)
            .custom-control.custom-checkbox.wantNameRadio
              span#addDutySpanName.label.label-default Név megjelenítés:
              input(id='nameDisplayInputHide' type='hidden' name='nameDisplay' value='false')
              input.custom-control-input(id='nameDisplay' type='checkbox')
              label.custom-control-label(for='nameDisplay') Igen/Nem
            .modalSpanIkon
              span.label.label-default Ikon megjelenítése:
            .wantIconCheckBox
              input.newSensorIconInput(type='hidden' name='newSensorIcon' value='fa-empty')
              button#modalIconPicker.btn.btn-secondary(role='iconpicker')
              span#modalSpanCheckboxIcon.label.label-default Méret:
              .custom-control.custom-radio.custom-control-inline.modalRadio1
                input.custom-control-input(id='3xIcon' name='iconSizeCheckbox' type='radio' value='fa-3x' checked)
                label.custom-control-label(for='3xIcon') 3x
              .custom-control.custom-radio.custom-control-inline.modalRadio2
                input.custom-control-input(id='5xIcon' name='iconSizeCheckbox' type='radio' value='fa-5x')
                label.custom-control-label(for='5xIcon') 5x
              .custom-control.custom-radio.custom-control-inline.modalRadio3
                input.custom-control-input(id='7xIcon' name='iconSizeCheckbox' type='radio' value='fa-7x')
                label.custom-control-label(for='7xIcon') 7x
          .modal-footer
            button.btn.btn-danger(type='button', data-dismiss='modal') Mégse
            button.btn.btn-secondary(type='submit') Mentés

  // Szoba frissítése/törlése - Modal
  #roomSettingModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='roomSettingModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#roomSettingModalLabel.modal-title Helyiség módosítása/törlése
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
        form(action='/api/updateRoom', method='post')
          .modal-body
            input(type='hidden' name='room_id' value=room_id)
            input#currentRoomName.form-control(name='name' type='text' value='')
          .modal-footer
            button.btn.btn-danger.roomDelete-btn(data-id=room_id type='button') Törlés
            button.btn.btn-danger(type='button', data-dismiss='modal') Mégse
            button.btn.btn-secondary.update-room-btn(type='submit') Mentés
  
  // Funkció hozzáadása szenzorhoz - Modal
  #addDutyModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='addDutyModalLabel' aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#addDutyModalLabel.modal-title Funkció hozzáadása
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') &times;
        form(action='/api/addDuty', method='post')
          .modal-body
            input(type='hidden' name='room_id' value=room_id)
            input(id='addDuty_sensor_id' type='hidden' name='sensor_id' value='')
            .input-group.mb-3
              .input-group-prepend
                label.input-group-text.addDutySelectLabel(for='dutySelectDropdown') Funkció
              select#dutySelectDropdown.custom-select(name='selectedDuty')
                option(selected='' value='') Kiválasztás...
                option(value='textDisplay') Szöveg megjelenítés
                option(value='colorPicker') Színválasztó
                option(value='switcher') Kapcsoló
                option(value='universalSwitcher') Univerzális Kapcsoló
                option(value='slider') Csúszka
            .addDutyModalBody
            .addNewLink
              .btn-group.btn-group-sm(role='group')
                button.btn.btn-secondary.addNewOutputField(type='button') Kimenet
                button.btn.btn-secondary.addNewInputField(type='button') Bemenet
          .modal-footer
            button.btn.btn-danger(type='button', data-dismiss='modal') Mégse
            button.btn.btn-secondary(type='submit') Mentés

  // Szenzor funkció módosítása - Modal
  #settingDutyModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='settingDutyLabel' aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#settingDutyLabel.modal-title Funkció módosítása
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') &times;
        form(action='/api/updateDuty', method='post')
          .modal-body
            input(type='hidden' name='room_id' value=room_id)
            input(id='updateDuty_sensor_id' type='hidden' name='sensor_id' value='')
            .input-group.mb-3
              .input-group-prepend
                label.input-group-text.updateDutySelectLabel(for='updateDutySelectDropdown') Funkció
              select#updateDutySelectDropdown.custom-select(name='selectedDuty')
                option(selected='' value='') Kiválasztás...
            .updateDutyModalBody
            .addNewLink
              .btn-group.btn-group-sm(role='group')
                button.btn.btn-secondary.addNewOutputField(type='button') Kimenet
                button.btn.btn-secondary.addNewInputField(type='button') Bemenet
          .modal-footer
            button.btn.btn-danger(type='button', data-dismiss='modal') Mégse
            button.btn.btn-secondary(type='submit') Mentés

  // Szenzor kártyák elhelyezkedésének mentése - Modal
  #saveGridPositionModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='saveGridPositionLabel', aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
      .modal-content
        .modal-header
          h5#saveGridPositionLabel.modal-title Menti az elrendezést?
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-footer
          button.btn.btn-danger(type='button', data-dismiss='modal') Mégse
          button.btn.btn-secondary(id='save-grid-modal-btn' type='button') Mentés