extends layout

block content
  //Grid
  .grid-stack
    each sensor in sensors
      .grid-stack-item(data-gs-id=sensor.id data-gs-x=sensor.position.x data-gs-y=sensor.position.y data-gs-width=sensor.position.width data-gs-height=sensor.position.height data-gs-min-width="3")    
        .grid-stack-item-content.card.text-white.bg-secondary.mb-3(style='max-width: 100%; min-width: 12rem;')
          .card-header
            i(class=sensor.icon)
          .card-body
            #temp.h5.card-title
              | 30 °C
            p.card-text
              | Utolsó frissités: 16:40
          .tesztDiv(style='height: 100%;')
          .card-footer.card-footer-settingIcon.editModeItem
            button.btn.btn-secondary.sensorSetting-btn(data-id=sensor.id type='button' data-toggle='modal' data-target='#sensorSettingModal')
              i.fas.fa-wrench
          .card-footer.card-footer-closeIcon.editModeItem
            form(action='/api/deleteSensor/' + sensor.id, method='post')
              input(type='hidden' name='room_id' value=room_id)
              button.btn.btn-secondary.sensorDelete-btn(data-id=sensor.id type='submit')
                i.fas.fa-times
          
  a#save-grid.btn.btn-default(href='#') Save Grid
  
    
  //Hozzáad egy újabb sor gridet!
  #plusGridButton.row
    .col-sm
      button.btn.btn-secondary.editModeItem.addNewSensor-btn(type='button' data-toggle='modal' data-target='#addNewSensorModal')
        i.fas.fa-plus.fa-3x

  //Szoba törlés és módosítása!
  button.btn.btn-link.editModeItem.roomSetting-btn(data-id=room_id  type='button'  data-toggle='modal' data-target='#roomSettingModal')
    i.fas.fa-door-open.fa-2x

  // Sensor Setting Modal
  #sensorSettingModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='sensorSettingModalLabel' aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#sensorSettingModalLabel.modal-title Szenzor módosítás
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') &times;
        form(id='sensorUpdateForm' action='' method='post')
          .modal-body
            input(type='hidden' name='room_id' value=room_id)
            .input-group.mb-3
              select#selectedIconId.custom-select(name='selectedIcon')
                option(selected='')
                  | Választás
                option(value='fas fa-bolt fa-7x')
                  | Villám
                option(value='fas fa-cloud fa-7x')
                  | Felhő
                option(value='fas fa-cloud-moon fa-7x')
                  | Felhő-hold
                option(value='fas fa-cloud-moon-rain fa-7x')
                  | Felhő-hold-eső
                option(value='fas fa-cloud-rain fa-7x')
                  | Felhő-eső
                option(value='fas fa-cloud-sun fa-7x')
                  | Felhő-nap
                option(value='fas fa-cloud-sun-rain fa-7x')
                  | Felhő-nap-eső
                option(value='fas fa-eye-dropper fa-7x')
                  | Színválasztó
                option(value='fas fa-lightbulb fa-7x')
                  | Égő-felkapcsolt
                option(value='far fa-lightbulb fa-7x')
                  | Égő-lekapcsolt
                option(value='fas fa-moon fa-7x')
                  | Hold
                option(value='fas fa-sliders-h fa-7x')
                  | Csúszka
                option(value='fas fa-snowflake fa-7x')
                  | Hópihe
                option(value='fas fa-star fa-7x')
                  | Csillag
                option(value='fas fa-tachometer-alt fa-7x')
                  | Mérő
                option(value='fas fa-temperature-high fa-7x')
                  | Hőmérő-tele
                option(value='fas fa-temperature-low fa-7x')
                  | Hőmérő-alacsony
                option(value='fas fa-thermometer-empty fa-7x')
                  | Mérő-üres
                option(value='fas fa-thermometer-full fa-7x')
                  | Mérő-tele
                option(value='fas fa-thermometer-half fa-7x')
                  | Mérő-félig
              .input-group-append
                label.input-group-text(for='inputGroupSelect02')
                  | Ikon
            input.form-control(id='sensorNameId' name='sensorName' type='text' placeholder='Szenzor neve')
            .functionCheckBox
              .custom-control.custom-checkbox
                input#functionRadioButton-1.custom-control-input(name='functionRadioButton' type='radio' value='1')
                label.custom-control-label(for='functionRadioButton-1') Megjelenítés
              .custom-control.custom-checkbox
                input#functionRadioButton-2.custom-control-input(name='functionRadioButton' type='radio' value='2')
                label.custom-control-label(for='functionRadioButton-2') Kapcsoló
              .custom-control.custom-checkbox
                input#functionRadioButton-3.custom-control-input(name='functionRadioButton' type='radio' value='3')
                label.custom-control-label(for='functionRadioButton-3') Csuszka
              .custom-control.custom-checkbox
                input#functionRadioButton-4.custom-control-input(name='functionRadioButton' type='radio' value='4')
                label.custom-control-label(for='functionRadioButton-4')  Színválasztó
          .modal-footer
            button.btn.btn-danger(type='button', data-dismiss='modal') Mégse
            button.btn.btn-secondary.new-room-btn(type='submit') Mentés


  // Add New Sensor Modal
  #addNewSensorModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='addNewSensorModalLabel' aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#addNewSensorModalLabel.modal-title Szenzor hozzáadása
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') &times;
        form(action='/api/insertSensor' method='post')
          .modal-body
            input(type='hidden' name='room_id' value=room_id)
            .input-group.mb-3
              select#inputGroupSelect02.custom-select(name='selectedIcon')
                option(selected='')
                  | Választás
                option(value='fas fa-bolt fa-7x')
                  | Villám
                option(value='fas fa-cloud fa-7x')
                  | Felhő
                option(value='fas fa-cloud-moon fa-7x')
                  | Felhő-hold
                option(value='fas fa-cloud-moon-rain fa-7x')
                  | Felhő-hold-eső
                option(value='fas fa-cloud-rain fa-7x')
                  | Felhő-eső
                option(value='fas fa-cloud-sun fa-7x')
                  | Felhő-nap
                option(value='fas fa-cloud-sun-rain fa-7x')
                  | Felhő-nap-eső
                option(value='fas fa-eye-dropper fa-7x')
                  | Színválasztó
                option(value='fas fa-lightbulb fa-7x')
                  | Égő-felkapcsolt
                option(value='far fa-lightbulb fa-7x')
                  | Égő-lekapcsolt
                option(value='fas fa-moon fa-7x')
                  | Hold
                option(value='fas fa-sliders-h fa-7x')
                  | Csúszka
                option(value='fas fa-snowflake fa-7x')
                  | Hópihe
                option(value='fas fa-star fa-7x')
                  | Csillag
                option(value='fas fa-tachometer-alt fa-7x')
                  | Mérő
                option(value='fas fa-temperature-high fa-7x')
                  | Hőmérő-tele
                option(value='fas fa-temperature-low fa-7x')
                  | Hőmérő-alacsony
                option(value='fas fa-thermometer-empty fa-7x')
                  | Mérő-üres
                option(value='fas fa-thermometer-full fa-7x')
                  | Mérő-tele
                option(value='fas fa-thermometer-half fa-7x')
                  | Mérő-félig
              .input-group-append
                label.input-group-text(for='inputGroupSelect02')
                  | Ikon
            input.form-control(name='sensorName' type='text' placeholder='Szenzor neve')
            .functionCheckBox
              .custom-control.custom-checkbox
                input#valueStringCheckBox.custom-control-input(name='selectedDuty' type='radio' value='1')
                label.custom-control-label(for='valueStringCheckBox') Megjelenítés
              .custom-control.custom-checkbox
                input#switchCheckBox.custom-control-input(name='selectedDuty' type='radio' value='2')
                label.custom-control-label(for='switchCheckBox') Kapcsoló
              .custom-control.custom-checkbox
                input#sliderCheckBox.custom-control-input(name='selectedDuty' type='radio' value='3')
                label.custom-control-label(for='sliderCheckBox') Csuszka
              .custom-control.custom-checkbox
                input#colorPickerCheckBox.custom-control-input(name='selectedDuty' type='radio' value='4')
                label.custom-control-label(for='colorPickerCheckBox')  Színválasztó
          .modal-footer
            button.btn.btn-danger(type='button', data-dismiss='modal') Mégse
            button.btn.btn-secondary.new-room-btn(type='submit') Mentés

  // Update/Delete Room Modal
  #roomSettingModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='roomSettingModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#roomSettingModalLabel.modal-title Helyiség módosítása/törlése
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
        form(action='/api/updateRoom', method='post')
          .modal-body
            input(type='hidden' name='room_id' value=room_id)
            input#currentRoomName.form-control(name='name' type='text' value='')
          .modal-footer
            button.btn.btn-danger.roomDelete-btn(data-id=room_id type='button') Törlés
            button.btn.btn-danger(type='button', data-dismiss='modal') Mégse
            button.btn.btn-secondary.update-room-btn(type='submit') Mentés