extends layout

block content
  //Grid
  .grid-stack
    each sensor in sensors
      .grid-stack-item(data-gs-id=sensor.id data-gs-x=sensor.position.x data-gs-y=sensor.position.y data-gs-width=sensor.position.width data-gs-height=sensor.position.height data-gs-min-width="3")    
        .grid-stack-item-content.card.text-white.bg-secondary.mb-3(style='max-width: 100%; min-width: 12rem;')
          if sensor.nameDisplay || sensor.icon != ''
            .card-header.checkCardHeader
              i(class=sensor.icon)
              if sensor.nameDisplay
                h5.card-title #{sensor.name}
          .card-body
            .data(id=sensor.mqttLink)
            p.card-text
              each duty in sensor.listDuty
                .tesztDiv2
                  if duty == '1'
                    | Megjelenítés
                  if duty == '2'
                    #cp13.input-group
                      input.form-control.input-lg(type='text', value='I am an invalid color')
                      span.input-group-append
                        span.input-group-text.colorpicker-input-addon
                          i
                  if duty == '3'
                    input(type='checkbox', checked='', data-toggle='toggle', data-on='Ready', data-off='Not Ready', data-onstyle='success', data-offstyle='danger')
                  if duty == '4'
                    input#sensorDutySlider(data-slider-id='sensorSlider', type='text', data-slider-min='0', data-slider-max='20', data-slider-step='1', data-slider-value='14')
            .lastUpdateString  
              | Utolsó frissités: 16:40
            .btn-group.btn-group-sm.editModeItem.settingDutyButtonGroup(role='group')
              button.btn.btn-secondary.sensorAddDuty-btn(data-id=sensor.id type='button' data-toggle='modal' data-target='#addDutyModal')
                i.fas.fa-plus
              button.btn.btn-secondary.sensorDutySetting-btn(data-id=sensor.id type='button' data-toggle='modal' data-target='#addDutyModal')
                i.fas.fa-cogs
          .tesztDiv(style='height: 100%;')
          .card-footer.card-footer-settingIcon.editModeItem
            button.btn.btn-secondary.sensorSetting-btn(data-id=sensor.id type='button' data-toggle='modal' data-target='#sensorSettingModal')
              i.fas.fa-wrench
          .card-footer.card-footer-closeIcon.editModeItem
            form(action='/api/deleteSensor/' + sensor.id, method='post')
              input(type='hidden' name='room_id' value=room_id)
              button.btn.btn-secondary.sensorDelete-btn(data-id=sensor.id type='submit')
                i.fas.fa-times
  
  .ct-chart.ct-golden-section

  // Panel kezelő gombok              
  .buttonGroup
    button.btn.btn-outline-secondary.editModeItem(id='save-grid' type='button')
      i.fas.fa-save
    button.btn.btn-secondary.editModeItem(id='add-grid' type='button' data-toggle='modal' data-target='#addNewSensorModal')
      i.fas.fa-plus
    button.btn.btn-primary.editModeItem(id='add-chart' type='button')
      i.far.fa-chart-bar

  //Szoba törlés és módosítása!
  button.btn.btn-link.editModeItem.roomSetting-btn(data-id=room_id  type='button'  data-toggle='modal' data-target='#roomSettingModal')
    i.fas.fa-door-open.fa-2x

  // Sensor Setting Modal
  #sensorSettingModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='sensorSettingModalLabel' aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#sensorSettingModalLabel.modal-title Szenzor módosítás
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') &times;
        form(id='sensorUpdateForm' action='' method='post')
          .modal-body
            input(type='hidden' name='room_id' value=room_id)
            .input-group.mb-3
              select#selectedIconId.custom-select(name='selectedIcon')
                option(selected='')
                  | Választás
                option(value='fas fa-bolt fa-7x')
                  | Villám
                option(value='fas fa-cloud fa-7x')
                  | Felhő
                option(value='fas fa-cloud-moon fa-7x')
                  | Felhő-hold
                option(value='fas fa-cloud-moon-rain fa-7x')
                  | Felhő-hold-eső
                option(value='fas fa-cloud-rain fa-7x')
                  | Felhő-eső
                option(value='fas fa-cloud-sun fa-7x')
                  | Felhő-nap
                option(value='fas fa-cloud-sun-rain fa-7x')
                  | Felhő-nap-eső
                option(value='fas fa-eye-dropper fa-7x')
                  | Színválasztó
                option(value='fas fa-lightbulb fa-7x')
                  | Égő-felkapcsolt
                option(value='far fa-lightbulb fa-7x')
                  | Égő-lekapcsolt
                option(value='fas fa-moon fa-7x')
                  | Hold
                option(value='fas fa-sliders-h fa-7x')
                  | Csúszka
                option(value='fas fa-snowflake fa-7x')
                  | Hópihe
                option(value='fas fa-star fa-7x')
                  | Csillag
                option(value='fas fa-tachometer-alt fa-7x')
                  | Mérő
                option(value='fas fa-temperature-high fa-7x')
                  | Hőmérő-tele
                option(value='fas fa-temperature-low fa-7x')
                  | Hőmérő-alacsony
                option(value='fas fa-thermometer-empty fa-7x')
                  | Mérő-üres
                option(value='fas fa-thermometer-full fa-7x')
                  | Mérő-tele
                option(value='fas fa-thermometer-half fa-7x')
                  | Mérő-félig
              .input-group-append
                label.input-group-text(for='inputGroupSelect02')
                  | Ikon
            input.form-control(id='sensorNameId' name='sensorName' type='text' placeholder='Szenzor neve')
            .functionCheckBox
              .custom-control.custom-checkbox
                input#functionRadioButton-1.custom-control-input(name='functionRadioButton' type='radio' value='1')
                label.custom-control-label(for='functionRadioButton-1') Megjelenítés
              .custom-control.custom-checkbox
                input#functionRadioButton-2.custom-control-input(name='functionRadioButton' type='radio' value='2')
                label.custom-control-label(for='functionRadioButton-2') Kapcsoló
              .custom-control.custom-checkbox
                input#functionRadioButton-3.custom-control-input(name='functionRadioButton' type='radio' value='3')
                label.custom-control-label(for='functionRadioButton-3') Csuszka
              .custom-control.custom-checkbox
                input#functionRadioButton-4.custom-control-input(name='functionRadioButton' type='radio' value='4')
                label.custom-control-label(for='functionRadioButton-4')  Színválasztó
          .modal-footer
            button.btn.btn-danger(type='button', data-dismiss='modal') Mégse
            button.btn.btn-secondary.new-room-btn(type='submit') Mentés


  // Add New Sensor Modal
  #addNewSensorModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='addNewSensorModalLabel' aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#addNewSensorModalLabel.modal-title Szenzor hozzáadása
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') &times;
        form(action='/api/insertSensor' method='post')
          .modal-body
            input(type='hidden' name='room_id' value=room_id)
            input.form-control.modalNameInput(name='sensorName' type='text' placeholder='Szenzor neve' required)
            .custom-control.custom-checkbox.wantNameRadio
              span#addDutySpanName.label.label-default Név megjelenítés:
              input(id='displayNameInputHide' type='hidden' name='displayName' value='false')
              input.custom-control-input(id='displayName' type='checkbox')
              label.custom-control-label(for='displayName') Igen/Nem
            .modalSpanIkon
              span.label.label-default Ikon megjelenítése:
            .wantIconCheckBox
              input.newSensorIconInput(type='hidden' name='newSensorIcon' value='')
              button#modalIconPicker.btn.btn-secondary(data-icon='', role='iconpicker')
              span#modalSpanCheckboxIcon.label.label-default Méret:
              .custom-control.custom-radio.custom-control-inline.modalRadio1
                input.custom-control-input(id='3xIcon' name='iconSizeCheckbox' type='radio' value='fa-3x' checked)
                label.custom-control-label(for='3xIcon') 3x
              .custom-control.custom-radio.custom-control-inline.modalRadio2
                input.custom-control-input(id='5xIcon' name='iconSizeCheckbox' type='radio' value='fa-5x')
                label.custom-control-label(for='5xIcon') 5x
              .custom-control.custom-radio.custom-control-inline.modalRadio3
                input.custom-control-input(id='7xIcon' name='iconSizeCheckbox' type='radio' value='fa-7x')
                label.custom-control-label(for='7xIcon') 7x
          .modal-footer
            button.btn.btn-danger(type='button', data-dismiss='modal') Mégse
            button.btn.btn-secondary(type='submit') Mentés

  // Update/Delete Room Modal
  #roomSettingModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='roomSettingModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#roomSettingModalLabel.modal-title Helyiség módosítása/törlése
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
        form(action='/api/updateRoom', method='post')
          .modal-body
            input(type='hidden' name='room_id' value=room_id)
            input#currentRoomName.form-control(name='name' type='text' value='')
          .modal-footer
            button.btn.btn-danger.roomDelete-btn(data-id=room_id type='button') Törlés
            button.btn.btn-danger(type='button', data-dismiss='modal') Mégse
            button.btn.btn-secondary.update-room-btn(type='submit') Mentés
  
  // Add duty to sensor Modal
  #addDutyModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='addDutyModalLabel' aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#addDutyModalLabel.modal-title Funkció hozzáadása
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') &times;
        form(action='/api/addDuty', method='post')
          .modal-body
            input(id='addDuty_sensor_id' type='hidden' name='sensor_id' value='')
            .input-group.mb-3
              .input-group-prepend
                label.input-group-text.addDutySelectLabel(for='dutySelectDropdown') Funkció
              select#dutySelectDropdown.custom-select(name='selectedDuty')
                option(selected='' value='') Kiválasztás...
                option(value='textDisplay') Szöveg megjelenítés
                option(value='colorPicker') Színválasztó
                option(value='switcher') Kapcsoló
                option(value='universalSwitcher') Univerzális Kapcsoló
                option(value='slider') Csúszka
            .addDutyModalBody
            .addNewLink
              .btn-group.btn-group-sm(role='group')
                button.btn.btn-secondary.addNewOutputField(type='button') Kimenet
                button.btn.btn-secondary.addNewInputField(type='button') Bemenet
          .modal-footer
            button.btn.btn-danger(type='button', data-dismiss='modal') Mégse
            button.btn.btn-secondary(type='submit') Mentés